body {background-color: powderblue;}

/* .search {
    margin: 0;
    position:absolute;
    top:50%;
    width:100%;
    text-align: center;
}

.nav {
    text-align: right;
    margin: center;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    list-style-type: none;
}

.roundedcorners {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px; 
    width: 200px;
    height: 15px; 
} */